body{
    overflow-x: hidden;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

:root{
 --background-color-afro: #304955;
 --background-gradient-color-afro: radial-gradient(#304955, #0d2e49); 
 --background-color-jazz: #801818;
 --background-gradient-color-jazz: repeating-linear-gradient(#e01f2d, #943c22); 
 --background-color-rnb: #c46240;
 --background-gradient-color-rnb: repeating-radial-gradient(#767e20, #43470b); 
 --background-color-pop: #801818;
 --background-gradient-color-pop: repeating-linear-gradient(#e01f2d, #943c22);
 /* --background-color-afro: #c46240; */
 /* --background-gradient-color-jazz: radial-gradient(#beb15b, #d5cfac);  */

 --color-bullet-dark-jazz: #000;
 --color-bullet-light-jazz: #fff;

 --color-bullet-dark-afro: linear-gradient(#0c263e, #12242c);
 --color-bullet-light-afro: linear-gradient(#faeed9, #caa78e);

 --color-bullet-dark-rnb: #4A5D23;
 --color-bullet-light-rnb: #8A9A5B;

 /* --color-bullet-dark-jazz: #000;
 --color-bullet-light-jazz: #fff; */

 --margin-width: min(3vw, .5rem);

 --font-color: #FFFAF0;

 --font-montserrat-reg: 'MontserratReg', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-montserrat-italic-bold: 'MontserratItalicBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-montserrat-bold: 'MontserratBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-monsieur: 'Monsieur', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-pinyon: 'Pinyon', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-garamond-italic: 'GaramondItalic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-garamond: 'Garamond', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@font-face {
    font-family: 'MontserratReg';
    src: url('./fonts/Montserrat-VariableFont_wght\ 2.ttf');
}

@font-face {
    font-family: 'MontserratItalicBold';
    src: url('./fonts/Montserrat-Italic-VariableFont_wght\ 2.ttf');
}


@font-face {
    font-family: 'MontserratBold';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'GaramondItalic';
    src: url('./fonts/EBGaramond-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Garamond';
    src: url('./fonts/EBGaramond-VariableFont_wght.ttf');
}



body{
    color: var(--font-color);

}

h1{
    font-family:var(--font-montserrat-bold);
    text-transform: uppercase;
    align-self: baseline;

    margin: var(--margin-width);
    z-index: 10;
    font-size: min(2rem, 8vw);
}

h2{
    font-size: min(2rem, 8vw);
    margin: var(--margin-width);
    font-family:var(--font-montserrat-reg);
    font-weight: 200;
    /* overflow: hidden; */
    grid-row: 2 / 3;

}

.chic-font{
    font-size: min(4rem, 15vw);
    font-family:var(--font-garamond-italic);
    font-weight: 100;
    margin-left: .2em;

}
main{
    height: 92vh;
    display: grid;
    align-items: end;
}
.italic-font{
     font-family:var(--font-montserrat-italic-bold);

}


.gradient-container{
    display: grid;
    grid-template-columns: repeat(6, 20%);
    grid-template-rows: repeat(6, 20%);
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;

    z-index: -10;
    background-blend-mode: multiply;

}

section{
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(4, 25%);
    height: 400vh;

}

.gradient-bullet-dark{
    /* grid-column: 1 / 3; */

    background: var(--color-bullet-dark-afro);
    opacity: 100%;
    border-radius: 70%;
    z-index: 10;
    filter: blur(5rem);
}

.gradient-bullet-light{
    background: var(--color-bullet-light-afro);
    opacity: 100%;
    border-radius: 50%;
    z-index: 10;
    filter: blur(7rem);

}

.gradient-container span:nth-of-type(1){
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: end;

    width: 20rem;
    aspect-ratio: 1.5;
}

.gradient-container span:nth-of-type(2){
    grid-column: 2;
    grid-row: 2 / 3;
    justify-self: center;

    width: min(7rem, 20vw);
    aspect-ratio: 1 / 2;  
}

.gradient-container span:nth-of-type(3){
    grid-column: 2;
    grid-row: 4 / 5;
    width: min(12rem, 40vw);
    aspect-ratio: 1;
}

.gradient-container span:nth-of-type(4){
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: end;
    
    width: 20rem;
    aspect-ratio: 1;
}

.scroll{
    animation-timeline: view();
	animation-name: scrollColorChange;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-range: contain;

}

@keyframes scrollColorChange {
    to{
        background: var(--background-color-jazz);
    }

    
}

.scroll {
	background: var(--background-gradient-color-afro);
	animation-name: change-background;
	animation-timeline: view();
	animation-range: entry contain;
	animation-fill-mode: both;
}

.jazz{
    background: var(--background-gradient-color-jazz);

}

.afro{
    background: var(--background-gradient-color-afro);

}

.rnb{
    background: var(--background-gradient-color-rnb);

}

.pop{
    background: var(--background-gradient-color-pop);

}
