body{
    overflow-x: hidden;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

:root{
 /* --background-color-afro: #bfb6b7; */
 /* --background-gradient-color-afro: radial-gradient(#304955, #0d2e49);  */
 /* --background-color-jazz: #9f9f93; */
 /* --background-gradient-color-jazz: repeating-linear-gradient(#e01f2d, #943c22);  */
 /* --background-color-rnb: #aba991; */
 /* --background-gradient-color-rnb: repeating-radial-gradient(#767e20, #43470b);  */
 /* --background-color-pop: #a19686; */
 /* --background-gradient-color-pop: repeating-linear-gradient(#e01f2d, #943c22); */
 /* --background-color-afro: #c46240; */
 /* --background-gradient-color-jazz: radial-gradient(#beb15b, #d5cfac);  */

 --background-color-afro: #bfb6b7;
 --background-color-jazz: #9f9f93;
 --background-color-rnb: #aba991;
 --background-color-pop: #a19686;

 --color-bullet-dark-jazz: #000;
 --color-bullet-light-jazz: #fff;

 --font-color: #341c02;
  

 /* --color-bullet-dark-afro: linear-gradient(#000 ,#0c263e, #12242c);
 --color-bullet-light-afro: linear-gradient(#fff, #faeed9, #caa78e); */

 color-scheme:light dark;

 --background-color-afro: light-dark(#EDEAE0, #c7525e);
 --background-color-jazz: light-dark(#FFF8E7, #273485);
 --background-color-rnb: light-dark(#F1E9D2, #273485);
 --background-color-pop: light-dark(#F0EAD6, #273a2f);


 --font-color: light-dark(#341c02, #FFFAF0);

 /* --color-bullet-light: light-dark(
  linear-gradient(#fff, #faeed9, #caa78e),
  linear-gradient(#000 ,#0c263e, #12242c)
);

 --color-bullet-dark: light-dark(
  linear-gradient(#000 ,#0c263e, #12242c),
  linear-gradient(#fff, #faeed9, #caa78e);
); */

--color-bullet-light:linear-gradient(#fff, #faeed9);
--color-bullet-dark:linear-gradient(#C3B091, #E3DAC9);


 /* --color-bullet-light-afro: light-dark(linear-gradient(#fff, #faeed9, #caa78e), linear-gradient(#000 ,#0c263e, #12242c));
 --color-bullet-dark-afro: light-dark ((linear-gradient(#000 ,#0c263e, #12242c)), (linear-gradient(#fff, #faeed9, #caa78e))); */

 --margin-width: min(3vw, .5rem);


 --font-montserrat-reg: 'MontserratReg', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-montserrat-italic-bold: 'MontserratItalicBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-montserrat-bold: 'MontserratBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-monsieur: 'Monsieur', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-pinyon: 'Pinyon', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-garamond-italic: 'GaramondItalic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-garamond: 'Garamond', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    @media (prefers-color-scheme: dark){
        :root {
            --color-bullet-light:linear-gradient(#fff, #faeed9, #caa78e);
            --color-bullet-dark:linear-gradient(#000 ,#0c263e, #12242c);
        }
    }
 
}



html{
    color-scheme: light dark;
}


@font-face {
    font-family: 'MontserratReg';
    src: url('./fonts/Montserrat-VariableFont_wght\ 2.ttf');
}

@font-face {
    font-family: 'MontserratItalicBold';
    src: url('./fonts/Montserrat-Italic-VariableFont_wght\ 2.ttf');
}


@font-face {
    font-family: 'MontserratBold';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'GaramondItalic';
    src: url('./fonts/EBGaramond-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Garamond';
    src: url('./fonts/EBGaramond-VariableFont_wght.ttf');
}



body{
    color: var(--font-color);
    /* background-color: rgb(48, 73, 85); */
}



h1{
    font-family:var(--font-montserrat-bold);
    text-transform: uppercase;
    align-self: baseline;

    margin: var(--margin-width);
    /* z-index: 10; */
    font-size: min(2rem, 8vw);
}

header{

    position: fixed;
    z-index: 10000;

}

h2{
    font-size: min(2rem, 8vw);
    margin: var(--margin-width);
    font-family:var(--font-montserrat-reg);
    font-weight: 200;

    position: fixed;
    bottom: 0;

    display: flex;
    align-items: baseline;

    z-index: 10;
}

.chic-font{
    font-size: min(4rem, 15vw);
    font-family: var(--font-garamond-italic);
    font-weight: 100;
    margin-left: .2em;

    display: block; 
    /* width: 10rem; */
    /* height: min(2rem, 8vw); */
    margin: var(--margin-width);
    /* omdat span een inline element is, moet dit een breedte hoogte en display:block kriigen anders werkt de animatie niet */
    transform: translateY(0);


	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
    opacity: 0;
    z-index: 1000;
	/* animation-range: entry contain; */
    animation-timeline: view();
    animation-name: scrollTextSwapJazz;
}


.jazz-text{
    
    animation-range: 0vh 100vh;
}

.afro-text{
    /* animation-name: scrollTextSwapAfro; */
    /* animation-name: scrollTextSwapJazz; */
    animation-range: 100vh 200vh;
}

.rnb-text{
    /* animation-name: scrollTextSwapRnb; */
    /* animation-name: scrollTextSwapJazz; */
    animation-range: 200vh 300vh;
}

.pop-text{
    /* animation-name: scrollTextSwapPop; */
    /* animation-name: scrollTextSwapJazz; */
    animation-range: 300vh 400vh;

}



@keyframes scrollTextSwapJazz{
    0%, 75%{
       /* transform: translateY(-.5em); */
       opacity: 1;
       translate:0 0;

    }
    100%{
        /* transform: translateY(-.8em); */
        opacity: 0;

        translate:0 -.3em;

    }
}

/* @keyframes scrollTextSwapAfro{
    0%{
        opacity: 0;
    }
    24.999999999%{
        opacity: 0;
    }
    25%{
       transform: translateY(-.5em); 
       opacity: 1;

    }
    33.3333333%{
        transform: translateY(-.6em);
        opacity: 1;

    }
    41.666666667%{
        transform: translateY(-.7em);
        opacity: 1;

    }
    50%{
        transform: translateY(-.8em);
        opacity: 0;

    }
    100%{
        transform: translateY(-.8em);
        opacity: 0;

    }
} */

/* @keyframes scrollTextSwapRnb{
    0%{
        opacity: 0;
    }
    49.9999999%{
        opacity: 0;
    }
    50%{
       transform: translateY(-.5em); 
       opacity: 1;

    }
    58.33333333%{
        transform: translateY(-.6em);
        opacity: 1;

    }
    66.6666666667%{
        transform: translateY(-.7em);
        opacity: 1;

    }
    75%{
        transform: translateY(-.8em);
        opacity: 0;

    }
    100%{
        transform: translateY(-.8em);
        opacity: 0;

    }
} */

/* @keyframes scrollTextSwapPop{
    0%{
        opacity: 0;
    }
    74.99999%{
        opacity: 0;
    }
    75%{
       transform: translateY(-.5em); 
       opacity: 1;

    }
    83.33333333%{
        transform: translateY(-.6em);
        opacity: 1;

    }
    91.6666666667%{
        transform: translateY(-.7em);
        opacity: 1%;

    }
    100%{
        transform: translateY(-.8em);
        opacity: 0;

    }
} */



main{
    /* height: 92vh;
    display: grid;
    align-items: end; */
    display: flex;
    flex-direction: column;
}
.font-italic{
     font-family:var(--font-montserrat-italic-bold);

}

.gradient-container-article, .gradient-container-section{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(8, 12.5%);
    /* width: 100vw; */
    /* height: 100vh; */

    /* position: absolute; */
    /* top: 0; */

    /* z-index: -10; */
    background-blend-mode: multiply;

    /* background-image: url('img/noise.jpg'); */

}

section{
    /* display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(4, 25%);
    height: 400vh; */

    height: 400vh;
    display: flex;
    flex-direction: column;

    

}

.gradient-bullet-dark{
    background: var(--color-bullet-dark);
    opacity: 100%;
    border-radius: 70%;
    z-index: 10;
    filter: blur(7rem) drop-shadow(16px 16px 20px #A0785A);
}



.gradient-bullet-light{
    background: var(--color-bullet-light);
    opacity: 100%;
    border-radius: 50%;
    z-index: 5;
    filter: blur(9rem) drop-shadow(16px 16px 20px #fff);
}



.gradient-container-article > span:nth-of-type(1){
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: end;

    width: min(50%, 20em);
    aspect-ratio: 1;
}

.gradient-container-article > span:nth-of-type(2){
    grid-column: 2;
    grid-row: 3 / 4;
    justify-self: center;

    width: min(15rem, 40vw);
    aspect-ratio: 5 / 7;
}

.gradient-container-article > span:nth-of-type(3){
    grid-column: 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: end;
    width: min(20rem, 40vw);
    aspect-ratio: 1;
}

.gradient-container-article > span:nth-of-type(4){
    grid-column: 1;
    /* grid-row: 1 / -1; */
    align-self: end;
    grid-row: 8 / 9;
    
    width: min(60vw, 15em);
    aspect-ratio: 1;
}

/* .rnb .gradient-container  span:nth-of-type(1){
    grid-column: 1;
    grid-row: 2 / 3;

} */

.scroll{
	animation-name: scrollColorChange;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-range: entry contain;
    animation-timeline: view();


    view-timeline-name: --scroller;

}

@keyframes scrollColorChange {
    0%{ 
        background-color: var(--background-color-jazz);

    }
    25%{ 
        background-color: var(--background-color-jazz);

    }
    50%{ 
        background-color: var(--background-color-afro);

    }
    75%{ 
        background-color: var(--background-color-rnb);

    }
    100%{
        background-color: var(--background-color-pop);
    }

    
}


.jazz{
    /* background: var(--background-gradient-color-jazz); */
    /* background-color: #c46240; */
    /* height: 100%; */

    grid-column: 1/-1;
    grid-row: 1 / 3;

}

.jazz h2{
     grid-row: 1 / 2;

}

.afro{
    /* background: var(--background-gradient-color-afro); */
    /* background-color: #801818; */
    /* height: 100%; */

    grid-column: 1/-1;
    grid-row: 3 / 5;

}

.afro h2{
     grid-row: 3 / 4;

}

.rnb{
    /* background: var(--background-gradient-color-rnb); */
    /* background-color: #4A5D23; */
    /* height: 100%; */

    grid-column: 1/-1;
    grid-row: 5 / 7;

}

.rnb h2{
       grid-row: 4 / 5;

}

.pop{
    /* background: var(--background-gradient-color-pop); */
    /* background-color: #304955; */
    /* height: 100%; */

    grid-column: 1/-1;
    grid-row: 7 / 9

}

.pop h2{
   grid-row: 5 / 6;
}
