body{
    overflow-x: hidden;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

:root{
 --background-color-afro: #c7525e;
 --background-gradient-color-afro: radial-gradient(#304955, #0d2e49); 
 --background-color-jazz: #6b1d10;
 --background-gradient-color-jazz: repeating-linear-gradient(#e01f2d, #943c22); 
 --background-color-rnb: #0000ff;
 --background-gradient-color-rnb: repeating-radial-gradient(#767e20, #43470b); 
 --background-color-pop: #337761;
 --background-gradient-color-pop: repeating-linear-gradient(#e01f2d, #943c22);
 /* --background-color-afro: #c46240; */
 /* --background-gradient-color-jazz: radial-gradient(#beb15b, #d5cfac);  */

 --color-bullet-dark-jazz: #000;
 --color-bullet-light-jazz: #fff;

 --color-bullet-dark-afro: linear-gradient(#000 ,#0c263e, #12242c);
 --color-bullet-light-afro: linear-gradient(#fff, #faeed9, #caa78e);

 --color-bullet-dark-rnb: #4A5D23;
 --color-bullet-light-rnb: #8A9A5B;

 /* --color-bullet-dark-jazz: #000;
 --color-bullet-light-jazz: #fff; */

 --margin-width: min(3vw, .5rem);

 --font-color: #FFFAF0;

 --font-montserrat-reg: 'MontserratReg', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-montserrat-italic-bold: 'MontserratItalicBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-montserrat-bold: 'MontserratBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-monsieur: 'Monsieur', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-pinyon: 'Pinyon', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-garamond-italic: 'GaramondItalic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-garamond: 'Garamond', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@font-face {
    font-family: 'MontserratReg';
    src: url('./fonts/Montserrat-VariableFont_wght\ 2.ttf');
}

@font-face {
    font-family: 'MontserratItalicBold';
    src: url('./fonts/Montserrat-Italic-VariableFont_wght\ 2.ttf');
}


@font-face {
    font-family: 'MontserratBold';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'GaramondItalic';
    src: url('./fonts/EBGaramond-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Garamond';
    src: url('./fonts/EBGaramond-VariableFont_wght.ttf');
}



body{
    color: var(--font-color);
    background-color: rgb(48, 73, 85);
}



h1{
    font-family:var(--font-montserrat-bold);
    text-transform: uppercase;
    align-self: baseline;

    margin: var(--margin-width);
    z-index: 10;
    font-size: min(2rem, 8vw);
}

header{

    position: fixed;

}

h2{
    font-size: min(2rem, 8vw);
    margin: var(--margin-width);
    font-family:var(--font-montserrat-reg);
    font-weight: 200;
    
    grid-row: 5 / 6;
    grid-column: 1;
    width: 100vw;
    align-self: end;

    position: fixed;
    bottom: 0;

}

.chic-font{
    font-size: min(4rem, 15vw);
    font-family:var(--font-garamond-italic);
    font-weight: 100;
    margin-left: .2em;

}
main{
    /* height: 92vh;
    display: grid;
    align-items: end; */
    display: flex;
    flex-direction: column;
}
.font-italic{
     font-family:var(--font-montserrat-italic-bold);

}


.gradient-container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(8, 12.5%);
    width: 100vw;
    height: 400vh;

    /* position: absolute; */
    top: 0;

    z-index: -10;
    background-blend-mode: multiply;

    background-image: url('img/noise.jpg');

}

section{
    /* display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(4, 25%);
    height: 400vh; */

    height: 400vh;
    display: flex;
    flex-direction: column;

    

}

.gradient-bullet-dark{
    /* grid-column: 1 / 3; */

    background: var(--color-bullet-dark-afro);
    opacity: 100%;
    border-radius: 70%;
    z-index: 10;
    filter: blur(7rem) drop-shadow(16px 16px 20px #000);
}

.gradient-bullet-light{
    background: var(--color-bullet-light-afro);
    opacity: 100%;
    border-radius: 50%;
    z-index: 5;
    filter: blur(9rem);

}

.gradient-container span:nth-of-type(1){
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: end;

    width: min(50%, 20em);
    aspect-ratio: 1;
}

.gradient-container span:nth-of-type(2){
    grid-column: 2;
    grid-row: 2 / 3;
    justify-self: center;

    width: min(15rem, 40vw);
    aspect-ratio: 3 / 4
}

.gradient-container span:nth-of-type(3){
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    align-self: end;
    width: min(20rem, 40vw);
    aspect-ratio: 1;
}

.gradient-container span:nth-of-type(4){
    grid-column: 1;
    /* grid-row: 1 / -1; */
    align-self: end;
    grid-row: 2 / 3;
    
    width: min(60vw, 15em);
    aspect-ratio: 1;
}

.rnb .gradient-container  span:nth-of-type(1){
    grid-column: 1;
    grid-row: 2 / 3;

}

.scroll{
	animation-name: scrollColorChange;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-range: entry contain;
    animation-timeline: view();

}

@keyframes scrollColorChange {
    0%{ 
        background-color: var(--background-color-jazz);

    }
    25%{ 
        background-color: var(--background-color-jazz);

    }
    50%{ 
        background-color: var(--background-color-afro);

    }
    75%{ 
        background-color: var(--background-color-rnb);

    }
    100%{
        background-color: var(--background-color-pop);
    }

    
}


.jazz{
    /* background: var(--background-gradient-color-jazz); */
    /* background-color: #c46240; */
    /* height: 100%; */

    grid-column: 1;
    grid-row: 1 / 2;

}

.jazz h2{
     grid-row: 1 / 2;

}

.afro{
    /* background: var(--background-gradient-color-afro); */
    /* background-color: #801818; */
    /* height: 100%; */

    grid-column: 1;
    grid-row: 3 / 4;

}

.afro h2{
     grid-row: 3 / 4;

}

.rnb{
    /* background: var(--background-gradient-color-rnb); */
    /* background-color: #4A5D23; */
    /* height: 100%; */

    grid-column: 1;
    grid-row: 5 / 6;

}

.rnb h2{
       grid-row: 4 / 5;

}

.pop{
    /* background: var(--background-gradient-color-pop); */
    /* background-color: #304955; */
    /* height: 100%; */

    grid-row: 1;
    grid-row: 7 / 8

}

.pop h2{
   grid-row: 5 / 6;
}
