
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 /* --background-color-afro: #bfb6b7; */
 /* --background-gradient-color-afro: radial-gradient(#304955, #0d2e49);  */
 /* --background-color-jazz: #9f9f93; */
 /* --background-gradient-color-jazz: repeating-linear-gradient(#e01f2d, #943c22);  */
 /* --background-color-rnb: #aba991; */
 /* --background-gradient-color-rnb: repeating-radial-gradient(#767e20, #43470b);  */
 /* --background-color-pop: #a19686; */
 /* --background-gradient-color-pop: repeating-linear-gradient(#e01f2d, #943c22); */
 /* --background-color-afro: #c46240; */
 /* --background-gradient-color-jazz: radial-gradient(#beb15b, #d5cfac);  */

 --background-color-afro: #bfb6b7;
 --background-color-jazz: #9f9f93;
 --background-color-rnb: #aba991;
 --background-color-pop: #a19686;

 --color-bullet-dark-jazz: #000;
 --color-bullet-light-jazz: #fff;

 --font-color: #341c02;
  

 /* --color-bullet-dark-afro: linear-gradient(#000 ,#0c263e, #12242c);
 --color-bullet-light-afro: linear-gradient(#fff, #faeed9, #caa78e); */

 color-scheme:light dark;

 --background-color-afro: light-dark(#EDEAE0, #c7525e);
 --background-color-jazz: light-dark(#FFF8E7, #273485);
 --background-color-rnb: light-dark(#F1E9D2, #273485);
 --background-color-pop: light-dark(#F0EAD6, #273a2f);


 --font-color: light-dark(#341c02, #FFFAF0);

 /* --color-bullet-light: light-dark(
  linear-gradient(#fff, #faeed9, #caa78e),
  linear-gradient(#000 ,#0c263e, #12242c)
);

 --color-bullet-dark: light-dark(
  linear-gradient(#000 ,#0c263e, #12242c),
  linear-gradient(#fff, #faeed9, #caa78e);
); */

--color-bullet-light:linear-gradient(#fff, #faeed9);
--color-bullet-dark:linear-gradient(#C3B091, #E3DAC9);

--filter-bullet-light: filter: blur(9rem) drop-shadow(16px 16px 20px #fff);
--filter-bullet-dark: filter: blur(7rem) drop-shadow(16px 16px 20px #A0785A);


 /* --color-bullet-light-afro: light-dark(linear-gradient(#fff, #faeed9, #caa78e), linear-gradient(#000 ,#0c263e, #12242c));
 --color-bullet-dark-afro: light-dark ((linear-gradient(#000 ,#0c263e, #12242c)), (linear-gradient(#fff, #faeed9, #caa78e))); */

 --margin-width: min(3vw, .5rem);


 --font-montserrat-reg: 'MontserratReg', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-montserrat-italic-bold: 'MontserratItalicBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-montserrat-bold: 'MontserratBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --font-bantley: 'Bantley', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    @media (prefers-color-scheme: dark){
            --color-bullet-light:linear-gradient(#D5A67D, #faeed9, #caa78e);
            --color-bullet-dark:linear-gradient(#000 ,#0A1A23, #0C2C49); 
    }
 
}



html{
    color-scheme: light dark;
}


@font-face {
    font-family: 'MontserratReg';
    src: url('./fonts/Montserrat-VariableFont_wght\ 2.ttf');
}

@font-face {
    font-family: 'MontserratItalicBold';
    src: url('./fonts/Montserrat-Italic-VariableFont_wght\ 2.ttf');
}


@font-face {
    font-family: 'MontserratBold';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}



@font-face {
    font-family: 'Bantley';
    src: url('./fonts/gwbantleyregulartrial-j9dzv.ttf');
}





body{
    color: var(--font-color);
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(#9f9f93, #a19686);
    /* background-color: rgb(48, 73, 85); */
}


h1{
    font-family:var(--font-montserrat-bold);
    text-transform: uppercase;
    align-self: baseline;

    margin: var(--margin-width);
    /* z-index: 10; */
    font-size: min(2rem, 8vw);
}
.font-italic{
    font-family:var(--font-montserrat-italic-bold);
    animation-name: studioSwipe;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: absolute;

}

@keyframes studioSwipe{
    from{
        translate: -35vw 0;

    }
    to{
        translate: .25em 0;
    }
}

header{

    position: fixed;
    z-index: 10000;

}

h2{
    font-size: min(1.5rem, 6vw);
    margin: var(--margin-width);
    font-family:var(--font-montserrat-reg);
    font-weight: 100;

    position: fixed;
    bottom: 0;

    display: flex;
    align-items: baseline;

    z-index: 100;
    transform: translateY(.5rem);
}

main{
    display: flex;
    flex-direction: column;
}

.chic-font{
    font-size: min(4rem, 15vw);
    font-family: var(--font-bantley);
    font-weight: 100;
    margin-left: .2em;

    display: block; 
    margin: var(--margin-width);
    /* omdat span een inline element is, moet dit een breedte hoogte en display:block kriigen anders werkt de animatie niet */
   
    transform: translateY(0);
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;

    opacity: 0;
    z-index: 1000;
	/* animation-range: entry contain; */
    animation-timeline: view();
    animation-name: scrollTextSwapJazz;
}


.fashion-text{  
    animation-range: 0vh 200vh;
}

.concept-text{
    animation-range: 200vh 450vh;
}

.shadows-text{
    animation-range: 450vh 700vh;
}

.lookbook-text{
    animation-range: 700vh 900vh;

}



@keyframes scrollTextSwapJazz{
    0%, 20%{
        opacity: 0;
        /* translate:0 .1em; */

    }
    20%, 70%{
        opacity: 1;

    }
    0%, 70%{
       /* transform: translateY(-.5em); */
       translate:0 .2em;

    }
    70%, 75%{
        opacity: 1;
        translate:0 -.2em;

    }
    75%, 100%{
        /* transform: translateY(-.8em); */
        opacity: 0;

        translate:0 -.4em;

    }
}



.gradient-container-article, .gradient-container-section{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(8, 12.5%);
    background-blend-mode: multiply;

    z-index: -1;
}

.gradient-container-section{
    height: 900vh;
    position: absolute;
    top: 0;
}

section{
    /* height: 400svh; */
    display: flex;
    flex-direction: column;    

}

article{
    height: 200svh;
    border: hotpink 1px solid;

    display: flex;
    justify-content: center;
	align-items: center;
    view-timeline-name: --item-container;

}
article:first-of-type {
    height: 150svh;
    align-items: start;
}

article + article{
        margin-top: 50vh;
    }

article div{
    position: sticky;
    top: 0;
    height: 100svh;
    width: 100vw;
    border: 1px solid teal;
    

    display: grid;
    justify-content: center;
	align-items: center;

    img{
        width: min(20em, 60vw);
        aspect-ratio: inherit;
        z-index: 200;
        /* opacity: 1; */

        animation-name: imageOpacityBlur;
        animation-timeline: --item-container;
        animation-fill-mode: both;
        animation-range: cover;
    }    
}
 /*  met hulp van Cyd */

  @keyframes imageOpacityBlur{
        0%, 20%, 100%{
            /* filter:blur(2rem); */
            opacity: 0.3;
            scale: 0.7;
            filter: blur(.2rem);

        }
        70%{
            /* filter:blur(0rem); */
            opacity: 1;
            scale: 1;
            filter: blur(0rem);

        }
    }



.gradient-bullet-dark{
    background: var(--color-bullet-dark);
    opacity: 100%;
    border-radius: 70%;
    z-index: 10;
    /* filter: var(--filter-bullet-dark); */
    filter: blur(7rem) drop-shadow(16px 16px 20px #A0785A);
    
}

.gradient-bullet-light{
    background: var(--color-bullet-light);
    opacity: 100%;
    border-radius: 50%;
    z-index: 5;
    /* filter: var(--filter-bullet-light); */
    filter: blur(9rem) drop-shadow(16px 16px 20px #fff)
}

.fashion img, .concept img, .shadows img, .lookbook img{
    /* grid-column: 1 / -1;
    grid-row: 1 / -1;

    align-self: center;
    justify-self: center;
    border: .08rem solid var(--font-color); */
/* 
    filter: drop-shadow(1px 10px 6px var(--font-color)); */
}


.gradient-container-article > span:nth-of-type(1){
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: end;

    width: min(50%, 20em);
    aspect-ratio: 1;
}

.gradient-container-article > span:nth-of-type(2){
    grid-column: 2;
    grid-row: 3 / 4;
    justify-self: center;

    width: min(15rem, 40vw);
    aspect-ratio: 5 / 7;
}

.gradient-container-article > span:nth-of-type(3){
    grid-column: 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: end;
    width: min(20rem, 40vw);
    aspect-ratio: 1;
}

.gradient-container-article > span:nth-of-type(4){
    grid-column: 1;
    /* grid-row: 1 / -1; */
    align-self: end;
    grid-row: 8 / 9;
    
    width: min(60vw, 15em);
    aspect-ratio: 1;
}


.scroll{
	animation-name: scrollColorChange;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	animation-range: entry contain;
    animation-timeline: view();


    view-timeline-name: --scroller;

}

@keyframes scrollColorChange {
    0%{ 
        background-color: var(--background-color-jazz);

    }
    25%{ 
        background-color: var(--background-color-jazz);

    }
    50%{ 
        background-color: var(--background-color-afro);

    }
    75%{ 
        background-color: var(--background-color-rnb);

    }
    100%{
        background-color: var(--background-color-pop);
    }

    
}


.gradient-container-article:first-of-type{
    /* background: var(--background-gradient-color-jazz); */
    /* background-color: #c46240; */
    /* height: 100%; */

    grid-column: 1/-1;
    grid-row: 1 / 3;

}

.fashion h2{
     grid-row: 1 / 2;

}

.gradient-container-article:nth-of-type(2){
    /* background: var(--background-gradient-color-afro); */
    /* background-color: #801818; */
    /* height: 100%; */

    grid-column: 1/-1;
    grid-row: 3 / 5;

}

.concept h2{
     grid-row: 3 / 4;

}

.gradient-container-article:nth-of-type(3){
    /* background: var(--background-gradient-color-rnb); */
    /* background-color: #4A5D23; */
    /* height: 100%; */

    grid-column: 1/-1;
    grid-row: 5 / 7;

}

.shadows h2{
       grid-row: 4 / 5;

}

.gradient-container-article:nth-of-type(4){
    /* background: var(--background-gradient-color-pop); */
    /* background-color: #304955; */
    /* height: 100%; */

    grid-column: 1/-1;
    grid-row: 7 / 9

}

.lookbook h2{
   grid-row: 5 / 6;
}
